<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
    <%- include('../partials/css-global.ejs')  %>
    <style>

        fieldset {
            display: grid;
            margin-top: 50px;
        }
    </style>
    <title>Travel Log | New Blog</title>
</head>

<body>
    <%- include('../partials/nav.ejs')  %>
    <main class="container">
        <form action="/blogs" method="POST">
            <fieldset class="blog-info">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" />
                <label for="blog_img">Image Link</label>
                <input type="text" name="blog_img" id="blog_img" />
                <label for="blog_desc">Blog Description</label>
                <textarea id="blog_desc" name="blog_desc" cols="30" rows="10"
                    placeholder="Share your experience"></textarea>
                <input type="submit" value="PUBLISH BLOG">
            </fieldset>
        </form>
    </main>
</body>

</html>