<header>
    <a class="nav" id="home-link" href="/blogger"><i class="fas fa-home"></i></a>
    <span>
    <a class="nav" id="new-blogger-link" href="/blogger/new">New Blogger</a>
    <a class="nav" id="recent-blogs-link" href="/blogs">Recent Blogs</a>
    <a class="nav" id="new-blogs-link" href="/blogs/new">New Blog</a>
    </span>
</header>