<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Blog</title>
</head>
<body class="landing_page">
    <h1>TRAVEL BLOG</h1>
    <form action="/blogger/new" method="POST">
    <input type="text" name = "name" placeholder="Enter Your Name"/>
    <input type="submit" value="SUBMIT"/>
    </form>
</body>
</html>