<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %>
    <%- include('../partials/css-global.ejs')  %>
    <title>Welcome </title>
    <style>
        .profile-info {
            display: grid;
        }

        span {
            display: flex;

        }
        span input.first_name{
            margin-right: 40px;
            width: 50%;
        }
        span input.last_name{
            width: 50%;

        }

    </style>

</head>

<body>
    <%- include('../partials/nav.ejs')  %>
    <main>
        <h3>Tell us About Yourself</h3>
        <h2>Hey!</h2>
    </main>
    <form class="container" action="/blogger" method="POST">
        <fieldset class="profile-info">
            <label for="name"> NAME</label>
            <span class="firstLastName">
                <input class="first_name" type="text" name="first_name" id="name" placeholder="First Name" />
                <input class="last_name" type="text" name="last_name" id="name" placeholder="Last Name" />
            </span>
            <label for="age"> AGE</label>
            <input type="number" name="age" id="age" />
            <label for="hobbies"> HOBBIES</label>
            <input type="text" name="hobbies" id="hobbies" />
            <label for="aboutMe">ABOUT ME</label>
            <textarea id="aboutMe" name="aboutMe" cols="30" rows="10" placeholder="Tell us about yourself"></textarea>
            <input type="submit" value="CREATE PROFILE">
        </fieldset>
    </form>
</body>

</html>